<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        .navbar-inverse {
            background-color: #337ab7;
            border-color: #ffffff;
        }

            .navbar-inverse .navbar-nav > li > a {
                color: #ffffff
            }

            .navbar-inverse .navbar-brand {
                color: #ffffff
            }
    </style>

    <style type="text/css">
        /* cellpadding */
        th, td {
            padding: 5px;
        }

        /* cellspacing */
        table {
            border-collapse: separate;
            border-spacing: 5px;
        }
        /* cellspacing="5" */
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        /* cellspacing="0" */

        /* valign */
        th, td {
            vertical-align: top;
        }

        /* align (center) */
        table {
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Woodgrove Track", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Woodgrove Track</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
